:root {
  --text: #3f463f;
  --bg-alt: #dcf0a8;
  --primary: #8be773;
  --alt: #73e795;
  --active: #73e7cf;

  --border-radius: 1rem;
  --active-transform: translate(-1px, 1px);
  --transition: all 0.1s ease-in;
}

.app {
  color: var(--text);
}

.top-bar {
  position: sticky;
  top: 0;
  margin: 0 0.5rem;
  background: white;
  z-index: 1;
}

.top-bar > h1 {
  margin-top: 0;
  padding-top: 0.5rem;
}

.info {
  margin: 0;
  margin-left: auto;
  align-self: baseline;
}

.country-list {
  display: flex;
  flex-direction: column;
  gap: 15px;
  height: 100%;
  width: 75%;
  margin: auto;
}

.list-item {
  border-radius: 1rem;
  background-color: var(--primary);
  padding: 0 0.3rem;
  transition: var(--transition);
}

.list-item:hover {
  background-color: var(--alt);
}

.list-item > * {
  margin: 0.5rem;
}

.bold {
  font-weight: bold;
}

.row {
  padding-bottom: 0.5rem;
  display: flex;
  flex-direction: row;
  gap: 10px;
}

.btn {
  color: var(--text);
  font-weight: bold;
  background-color: var(--primary);
  padding: 0.5rem 1rem;
  border-radius: 1rem;
  border: none;
  transition: all 0.2s;
  cursor: pointer;
}

.btn:hover {
  background-color: var(--alt);
}

.btn > svg {
  position: relative;
  transform: translateY(2px);
}

.btn:active {
  transform: var(--active-transform);
  background-color: var(--active);
}

select {
  /* display: inline; */
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  background-color: transparent;
  border: none;
  padding: 0 1em 0 0;
  width: 100%;
  font-family: inherit;
  font-size: inherit;
  font-weight: bold;
  cursor: inherit;
  line-height: inherit;
  z-index: 1;
  outline: none;
  color: var(--text);
}

.select select,
.select::after {
  grid-area: select;
}

.select {
  display: grid;
  grid-template-areas: "select";
  align-items: center;
  position: relative;
  cursor: pointer;
  background-color: var(--primary);
  border-radius: var(--border-radius);
  padding: 0.5rem 1rem;
  transition: all 0.2s;
}

.select:hover {
  background-color: var(--alt);
}

.select:active {
  transform: var(--active-transform);
}

.select::after {
  content: "";
  justify-self: end;
  width: 0.8rem;
  height: 0.5rem;
  display: inline-block;
  background-color: #393939;
  -webkit-clip-path: polygon(100% 0%, 0 0%, 50% 100%);
          clip-path: polygon(100% 0%, 0 0%, 50% 100%);
}

@media (min-width: 1500px) {
  .country-list {
    width: 50%;
  }
}

/* Mobile devices */
@media (max-width: 600px) {
  .country-list {
    width: 90%;
  }

  .top-bar > .row {
    flex-direction: column;
  }

  h1 {
    font-size: x-large;
    text-align: center;
  }
}