.app {
  margin: 0 1rem;
  color: #3f463f;
}

.country-list {
  display: flex;
  flex-direction: column;
  gap: 20px;
  height: 100%;
  overflow-x: auto;
}

.list-item {
  border-radius: 1rem;
  background-color: #00FF80;
  padding: 0 0.3rem;
  transition: background-color 0.1s ease-in;
}

.list-item:hover {
  background-color: #00FFBF;
}

.list-item > * {
  margin: 0.5rem;
}

.bold {
  font-weight: bold;
}
